.portlet.portlet-default
  .portlet-header
    %h4.portlet-title
      Volunteers List
.portlet-body
  %table{:id => "Hours_table", "class" => "table table-striped table-bordered table-hover ui-datatable", 
  "data-paging" =>"true", "data-page-length"=>"10", "data-info"=>"true", "data-global-search"=>"false", 
  "data-length-change"=>"false"}
    %thead
      %tr
        %th Name
        %th Email Address
        %th Current Quarter's Hours
      - @users.each do |user|
        %tr
          %td= link_to user.name, user_path(user)
          %td= user.email
          %td= user.current_quarters_hours


