.masthead
  .container
    %h1.masthead-subtitle Login
.content
  .container
    %br.xs-30
    .account-wrapper
      = render :partial => "devise/shared/login_body"
      = render :partial => "devise/shared/login_footer"
