%h2 Quarterly Report
%br
%br


.portlet.portlet-default
  .portlet-header
    %h4.portlet-title
      Hours By Activity This Quarter
.portlet-body
  %table{:id => "hours_activity_table", "class" => "table table-striped table-bordered table-hover ui-datatable", 
  "data-info"=>"true", "data-global-search"=>"false", 
  "data-length-change"=>"false"}
    %thead
      %tr
        %th Activity
        %th Total Hours This Quarter
      - current_user.organization.quarterly_report.each do |activity|
        %tr
          %td= activity.name
          %td= activity.total_hours


